.front-grid .row {
  margin-bottom: 2em;
}

.front-grid .row:nth-child(odd) img {
  border-left: 10px solid #e9eaee;
}

.front-grid .row:nth-child(even) img {
  border-right: 10px solid #e9eaee;
}

.front-grid h4 {
  font-weight: bold;
  color: #333333;
}

.front-grid .choose-program {
  margin-top: 2em;
  text-align: center;
}

.front-grid .choose-program h2 {
  margin-bottom: .3em;
  text-align: center;
}

.front-grid .choose-program .button {
  background-color: #EEEEEF;
  color: #666;
  width: 15em;
  font-weight: bold;
}

.front-grid .choose-program .button:hover {
  background-color: #F68A0C;
  color: #fff;
}

.front-grid .button {
  background-color: #D4600B;
}
