.front-grid .row {
  margin-bottom: 2em;
}

.front-grid .row:nth-child(odd) img {
  border-left: 10px solid #e9eaee;
}

.front-grid .row:nth-child(even) img {
  border-right: 10px solid #e9eaee;
}

.front-grid h4 {
  font-weight: bold;
  color: #333333;
}

.front-grid .choose-program {
  margin-top: 2em;
  text-align: center;
}

.front-grid .choose-program h2 {
  text-align: center;
}

.front-grid .choose-program .button {
  width: 15em;
}

.front-grid .choose-program .button.elementary {
  background-color: #04B431;
}

.front-grid .choose-program .button.preteen {
  background-color: #2E9AFE;
}

.front-grid .choose-program .button.middle {
  background-color: #B40431;
}

.top-bar, .top-bar ul, .top-bar ul li {
  background-color: #333;
}
