.front-grid .row {
  margin-bottom: 2em;
}

.front-grid .row:nth-child(odd) img {
  border-left: 10px solid #e9eaee;
}

.front-grid .row:nth-child(even) img {
  border-right: 10px solid #e9eaee;
}

.front-grid h4 {
  font-weight: bold;
  color: #072682;
}

.front-grid .interested {
  padding: 0.75em;
  margin: 1.0em 1.0em;
  text-align: left;

  background: #dfdfdf;
  font-size: 16pt;

  line-height: 120%;
}

.front-grid .interested h3 {
  font-size: 18pt;
  text-align: center;
  line-height: 90%;
}

.front-grid .interested .button {
  width: 100%;
  font-weight: bold;

  margin: 0.75em 0em 0em 0em;
}

.front-grid .interested .button:hover {
  background-color: #EEEEEF;
  color: #072682;
}

.front-grid .choose-program {
  margin-top: 0em;
  text-align: center;
}

.front-grid .choose-program h2 {
  margin-bottom: .3em;
  text-align: center;
}

.front-grid .choose-program .button {
  background-color: #EEEEEF;
  color: #072682;
  width: 15em;
  font-weight: bold;
}

.front-grid .choose-program .button:hover {
  background-color: #072682;
  color: #fff;
}

.front-grid .button {
  background-color: #072682;
}

.front-grid .volunteer .large-4 {
  text-align: center;
}
