.top-bar {
  color: #FFF;
  border-bottom: 5px solid #EEEEEF;
}

.top-bar, .top-bar ul, .top-bar ul li {
  background-color: #B42B0B;
}

.top-bar ul li{
  border-right: 1px dotted #fff;
}

.top-bar ul li:last-child{
  border-right: 0;
}

.top-bar .submenu {
  display: none;
}

.top-bar a {
  color: #fff;
}

.menu-text {
  color: #fff;
}

footer {
  background-color: #333;
  color: #fff;
  font-size: .9em;
  padding: 1em;
}

footer a {
  color: #fff;
  text-decoration: underline;
}
