.top-bar {
  color: #FFF;
  border-bottom: 5px solid #CCCCCC;
}

.top-bar, .top-bar ul, .top-bar ul li {
  background-color: #1b1464;
}

.top-bar ul li{
  border-right: 1px dotted #fff;
}

.top-bar ul li:last-child{
  border-right: 0;
}

.top-bar .submenu {
  display: none;
}

.top-bar a {
  color: #fff;
}

.menu-text {
  color: #fff;
}

h1 {
  margin-top: 10px;
}

.title {
  background-color: #EEEEEE;
  padding-left: 8px;
  padding-top: 6px;
  margin-bottom: 5px;
}

.title h1 {
  font-size: 1.3em;
  margin-top: 0px;
}

.masthead {
  border-top: 1px solid #EEEEEF;
  border-bottom: 1px solid #EEEEEF;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.masthead-image {
  width: 100%;
  overflow: hidden;
}

.masthead-image img {
  width: 100%;
}

footer {
  background-color: #333;
  color: #fff;
  font-size: .9em;
  padding: 1em;
}

footer a {
  color: #fff;
  text-decoration: underline;
}
