---
layout: default
---

<div class="homepage">
    <script>
        $(document).ready(function() {
            resize();

            $(".benefit").children(".cover").css({'height': $(".benefit").height()});
            $(".benefit").children(".cover").children(".elaboration").addClass('clipped');
        });

        $(window).resize(function() {
            resize();
        });

        function resize() {
            $(".top").css({'min-height': $(window).height() - $("header").height() + '.px'});
            $(".overlay").css({'min-height': $(window).height() - $("header").height() + '.px'});
        }
    </script>

    <div class="top">
        <div class="overlay">
            <div class="tagline">
                <span class="big">Build Robots. All Week Long.</span>
                <hr>
                <div class = "importantDetails">

                    <!-- Thank you for attending a great summer Camp, see you next year! -->
                    <!-- Summer Camp is Back! -->
                    <!-- <br/> -->
                    <!-- Registration for 2025 Camp is Open!  Please see <a style="color: lightyellow;" href="programs">Programs</a> for more info! -->
                    <!-- Registration for 2025 camp is expected to open in late February/early March. -->
                    Registration for our 2025 camp is full! Please check back next year.
                    <br/>
                    <br/>
                    Our dates for summer camp 2025 are:<br>
                    Week 1: July 14-18<br>
                    Week 2: July 21-25<br>
                    Week 3: July 28-Aug 1<br>
                
                </div>
                <div class="details">
                    
                    <br>
                    Robotics Summer Camp at Canyon Crest Academy is the ultimate week-long summer STEM experience for elementary and middle school students. 
               
                <!--
                Thanks for a great Summer 2019! Camp is returning this July, from the 13th to 31st.
                -->
                </div>

                <a href="#whycamp" class="scroll_link" style="color: white;">
                    <div class="large button animate">
                        Learn More
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <div class="why" id="whycamp">
        <div class="wrapper block">
            <h1 class="short">What Happens At Camp?</h1>
            <hr>
            <div>
                At Robotics Summer Camp at Canyon Crest Academy, students start on a journey that can continue for the rest of their lives—and it goes way further than just technical know-how. Campers develop skills in teamwork, collaboration, planning, and creative problem solving, as well as friendships and memories that last a lifetime.
            </div>
            
            <div style="margin: 4px 0px 0px; text-align: center;">
                <i>Hover over the pictures below to learn more about what makes our camp unique.</i>
            </div>

            <div class="benefits grid two_col">
                {% for benefit in site.data.benefits %}
                    <a href="{{ 'about/' | relative_url}}">
                        <div class="benefit" style="background-image: url({{ 'assets/photos/homepage/' | append: benefit.bg | relative_url }})">
                            <div class="cover animate">
                                <h2>{{ benefit.title }}</h2>

                                <div class="elaboration animate">
                                    {{ benefit.description }}
                                    <div style="margin: 9px 0px 0px; text-align: center;">
                                        <i>Click to learn more...</i>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </a>
                {% endfor %}

                <!-- <div style="background: #6b6b6b; grid-area: d12"></div>
                <div style="background: #6b6b6b; grid-area: d34"></div>
                <div style="background: #6b6b6b; grid-area: d13"></div>
                <div style="background: #6b6b6b; grid-area: d24"></div> -->
            </div>
        </div>
    </div>

    <div class="camp_levels" style="background: #e4e4e4;">
        <div class="wrapper block">
            <h1>Programs</h1>
            <hr>
            
            {% include levels.html %}
        </div>
    </div>
    
    <div class="questions">
        <div class="wrapper block">
            <h1 class="short">Join us!</h1>
            <hr>

            <div>
                We're glad to see you here, and we'd be really excited to have your students join us this summer! If you have any questions about our camp (or just want to reach out and say hi), feel free to contact us! Also, don't forget to check out our Frequently Asked Questions for helpful answers to common inquiries.
            </div>

            <div class="grid two_col" style="text-align: center; margin-top: 16px;">
                <a href="{{ 'contact/' | relative_url }}"><div class="royal wide button medium animate">Contact Us</div></a>
                <!-- <a href="{{ 'register/' | relative_url }}"><div class="red wide button medium animate">Register Now!</div></a> -->
                <a href="{{ 'about#faq_title' | relative_url }}"><div class="navy wide button medium animate">FAQs</div></a>
            </div>
        </div>
    </div>
</div>
