<div class="top-bar" id="main-menu">
        <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="{{ "/" | prepend: site.baseurl }}"><img width="10%" src="/assets/graphics/logo.png"> Robotics Summer Camps at Canyon Crest Academy</a>
      </li>
    </ul>
   <div class="top-bar-right">
    <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
      <li><a href="{{ "/about" | prepend: site.baseurl }}">About Us</a></li>
      <li><a href="{{ "/register" | prepend: site.baseurl }}">Dates &amp; Registration</a></li>
      <li><a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>
    </ul>
  </div>
</div>
