---
layout: default
---
<div class="expanded row title">
  <div class="large-12 columns">
    <h1>Programs: {{ page.title }}</h1>
  </div>
</div>

{% if page.header_image %}
<div class="expanded row masthead">
  <div class="masthead-image">
    <img src="{{ page.header_image | prepend: site.baseurl }}">
  </div>
</div>
{% endif %}

<div class="row">
  <div class="large-2 columns">
    <strong>Summer Programs:</strong>
    <ul>
      <li><a href="/camp/elementary">1st - 4th</a></li>
      <li><a href="/camp/lower">5th &amp; 6th</a></li>
      <li><a href="/camp/upper">7th &amp; 8th</a></li>
    </ul>
    {% include contact.html %}
    <br/>
    <br/>
    {% include about-menu.html %}
  </div>
  <div class="large-8 columns">
    {{ content }}
  </div>
  <div class="large-2 columns">
    &nbsp;
  </div>
</div>
