---
layout: default
---
<div class="expanded row title">
  <div class="large-12 columns">
    <h1>Programs: {{ page.title }}</h1>
  </div>
</div>

{% if page.header_image %}
<div class="expanded row masthead">
  <div class="masthead-image">
    <img src="{{ page.header_image | prepend: site.baseurl }}">
  </div>
</div>
{% endif %}

<div class="row">
  <div class="large-2 columns">
    {% include contact.html %}
    <br/>
    <br/>
    {% include about-menu.html %}
  </div>
  <div class="large-8 columns">
    {{ content }}
  </div>
  <div class="large-2 columns">
    &nbsp;
  </div>
</div>
